.modal-background{
  position: absolute;
  top: 0;
  left: 0;
  overflow-x: hidden;   
  overflow-y: auto; 
  text-align: center;
  pointer-events: auto;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button1{
  margin-top: 10px;
display: block;
width: 80%;
padding: 10px;
border: none;
border-radius: 20px;
background: #007bff;
color: #fff;
font-size: 16px;
cursor: pointer;
}

.button2{
  margin-left: 8px;
padding: 10px;
border-radius: 10px;
background: #47b14a;
color: #fff;
font-size: 16px;
cursor: pointer;
transform: translateY(-100%);
}

.input1 {
  width: 50%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
  background: #eaeaea;
  color: #333;
  font-size: 16px;
}

.input2 {
  border-color: #333;
  width: 70%;
  padding: 7px;
  margin-bottom: 10px;
  border-radius: 10px;
  background: #ffffff;
  color: #333;
  font-size: 16px;
}

label{
  font-size: medium;
  margin-top: 10px;
}

.modal-container{
  width: 20rem;
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  z-index:99999999999;
}

.modal-container .modal-header{
  display: inline-block;
  text-align: center;
  /* margin-top: 0.5rem; */
}

.close-btn {
  display: flex;
  justify-content: flex-end;
}

.close-btn button{
  background-color: transparent;
  border: none;
  font-size: medium;
  cursor: pointer;
}

.modal-container .modal-body{
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  text-align: center;
  flex-direction: column;

  
}

.modal-container .modal-footer{
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container .modal-footer button{
  width: 8rem;
  padding: 0.5rem;
  margin: 1rem;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 0.3rem;
  font-size: medium;
  cursor: pointer;
}

.modal-container .modal-footer .cancel-btn{
  background-color: red;
}